<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
<title>Modifica foto</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>Modifica foto</h1>

			<div>
				<form id="photo-form" th:object="${photo}" th:action="@{/photos/edit/{id}(id=${photo.id})}" method="POST">
					<div th:replace="~{fragments/fragment :: form}"></div>
				</form>
			</div>
		</div>
	</div>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>