<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<div th:replace="~{fragments/fragment :: head_style}"></div>
<title>Dettaglio foto</title>
</head>
<body class="body">
	<header>
		<div th:replace="~{fragments/fragment :: navbar}"></div>
	</header>

	<main class="my-4">
		<div class="container">
			<div class="row">
				<div>
					<div class="text-center">
						<h1>[[${photo.id}]] - [[${photo.title}]]</h1>
						<img th:alt="${photo.title} + '\'s photo'" th:src="${photo.url}">
					</div>
					<h6>#[[${photo.tag}]]</h6>
					<h6 class="d-inline">Visibile:</h6>
					<span>[[${photo.isVisible}]]</span>
					<p class="my-2">[[${photo.description}]]</p>
					<div th:if="${photo.categories.size()>0}">
						<h6>Categorie:</h6>
						<dl th:each="category : ${photo.categories}">
							<dd>[[${category.name}]]</dd>
						</dl>
					</div>
					<div th:if="${photo.comments.size()>0}">
						<h6>Commenti:</h6>
						<dl th:each="comment : ${photo.comments}">
							<dd>[[${comment.text}]]</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer>
		<div th:replace="~{fragments/fragment :: footer}"></div>
	</footer>

	<div th:replace="~{fragments/fragment :: script_style}"></div>
</body>
</html>