<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.3.0/css/all.min.css} " />
<title>Dettaglio foto</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>Dettaglio foto</h1>
			<div>
				<p>[[${photo.id}]] - [[${photo.title}]] -
					[[${photo.description}]] - [[${photo.url}]] - [[${photo.tag}]] -
					[[${photo.isVisible}]]</p>
				<div th:if="${photo.categories.size()>0}">
					<p>Categorie:</p>
					<ul th:each="category : ${photo.categories}">
						<li>[[${category.name}]]</li>
					</ul>
				</div>
				<div th:if="${photo.comments.size()>0}">
					<p>Commenti:</p>
					<ul th:each="comment : ${photo.comments}">
						<li>[[${comment.text}]]</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>