<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<div th:replace="~{fragments/fragment :: head_style}"></div>
<title>Modifica categoria</title>
</head>
<body class="body">
	<header>
		<div th:replace="~{fragments/fragment :: navbar}"></div>
	</header>

	<main class="my-4">
		<div class="container">
			<div class="row">
				<h1>Modifica categoria</h1>

				<div>
					<form id="category-form" th:object="${category}"
						th:action="@{/categories/edit/{id}(id=${category.id})}"
						method="POST">
						<div th:replace="~{fragments/fragment :: formCategories}"></div>
					</form>

				</div>
			</div>
		</div>
	</main>

	<footer class="fixed-bottom">
		<div th:replace="~{fragments/fragment :: footer}"></div>
	</footer>

	<div th:replace="~{fragments/fragment :: script_style}"></div>
</body>
</html>