<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!--/* ----------------------STYLE HEAD--------------------------------- */-->
	<th:block th:fragment="head_style">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
		<link th:rel="stylesheet"
			th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
		<link th:rel="stylesheet"
			th:href="@{/webjars/font-awesome/6.3.0/css/all.min.css} " />
	</th:block>

	<!--/* ----------------------SCRIPT--------------------------------- */-->
	<div th:fragment="script_style">
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
			integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	</div>

	<!--/* ----------------------NAVBAR--------------------------------- */-->
	<th:block th:fragment="navbar">
		<nav id="nav" class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" id="logo" href="#">MyOnlinePhoto</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="/photos">Home</a></li>
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="/categories">Categorie</a></li>
					</ul>
				</div>
				<div class="text-end fs-3 px-3">
					<a href="/logout" class="text-black"><i class="fa-solid fa-lock"></i></a>
				</div>
			</div>
		</nav>
	</th:block>

	<!--/* ----------------------FORM PHOTO--------------------------------- */-->
	<th:block th:fragment="form">
		<div class="mb-3">
			<label for="title" class="form-label">Titolo</label> <input
				type="text" class="form-control" id="title" th:field="*{title}"
				th:errorClass="is-invalid">
			<div th:if="${#fields.hasErrors('title')}" class="invalid-feedback">
				<ul>
					<li th:each="err : ${#fields.errors('title')}">[[${err}]]</li>
				</ul>
			</div>
		</div>

		<div class="mb-3">
			<label for="description" class="form-label">Descrizione</label> <input
				type="text" class="form-control" id="description"
				th:field="*{description}" th:errorClass="is-invalid">
			<div th:if="${#fields.hasErrors('description')}"
				class="invalid-feedback">
				<ul>
					<li th:each="err : ${#fields.errors('description')}">[[${err}]]</li>
				</ul>
			</div>
		</div>

		<div class="mb-3">
			<label for="url" class="form-label">Url</label> <input type="text"
				class="form-control" id="url" th:field="*{url}"
				th:errorClass="is-invalid">
			<div th:if="${#fields.hasErrors('url')}" class="invalid-feedback">
				<ul>
					<li th:each="err : ${#fields.errors('url')}">[[${err}]]</li>
				</ul>
			</div>
		</div>

		<div class="mb-3">
			<label for="tag" class="form-label">Tag</label> <input type="text"
				class="form-control" id="tag" th:field="*{tag}"
				th:errorClass="is-invalid">
			<div th:if="${#fields.hasErrors('tag')}" class="invalid-feedback">
				<ul>
					<li th:each="err : ${#fields.errors('tag')}">[[${err}]]</li>
				</ul>
			</div>
		</div>

		<div class="mb-3">
			<label for="isAvailable" class="form-label">Visibile:</label><br>
			<input type="radio" id="visibleTrue" name="isVisible" value="1"
				th:field="*{isVisible}">   <label for="visibleTrue">Si</label><br>
			<input type="radio" id="visibleFalse" name="isVisible" value="0"
				th:field="*{isVisible}">   <label for="visibleFalse">No</label>
		</div>

		<div class="mb-3">
			<label class="input-group">Categoria: </label>
			<div th:each="category : ${categories}" class="me-4">
				<input type="checkbox" th:value="${category.id}"
					th:field="*{categories}" th:id="|categories_${category.id}|">
				<label th:for="|categories_${category.id}|">[[${category.name}]]</label>
			</div>
		</div>

		<div>
			<button type="submit" class="myBtnForm">
				<a class="text-black text-decoration-none" th:href="@{/photos}">Annulla</a>
			</button>
			<button type="submit" class="myBtnForm">Invia</button>
		</div>
	</th:block>

	<!--/* ----------------------FORM CATEGORIES--------------------------------- */-->
	<th:block th:fragment="formCategories">
		<div class="mb-3">
			<label for="name" class="form-label">Nome</label> <input type="text"
				class="form-control" id="name" th:field="*{name}"
				th:errorClass="is-invalid">
			<div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
				<ul>
					<li th:each="err : ${#fields.errors('name')}">[[${err}]]</li>
				</ul>
			</div>
		</div>

		<div>
			<button type="submit" class="myBtnForm">
				<a class="text-black text-decoration-none" th:href="@{/categories}">Annulla</a>
			</button>
			<button type="submit" class="myBtnForm">Invia</button>
		</div>
	</th:block>

	<!--/* ----------------------FOOTER--------------------------------- */-->
	<th:block th:fragment="footer">
		<div id="footer"></div>
	</th:block>
</body>
</html>