<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
	integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<title>Dettaglio foto</title>
</head>
<body>

	<header>
		<nav id="nav" class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" id="logo" href="#">MyOnlinePhoto</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="/">Home</a></li>
					</ul>
				</div>
				<div class="text-end fs-3 px-3">
					<a href="/photos" class="text-black"><i
						class="fa-solid fa-unlock"></i></a>
				</div>
			</div>
		</nav>
	</header>
	<main class="my-4">
		<div class="container">
			<div class="row">
				<div id="box_photo">
					<h1 id="photo_title"></h1>
					<img id="img" class="w-100 my-4">
					<h6 id="photo_tag"></h6>
					<p id="photo_decsription"></p>
					<h5 id="photo_categories"></h5>
					<dl id="photo_category">

					</dl>
					<h5 id="photo_comments"></h5>
					<dl id="photo_comment">

					</dl>
					<div class="mt-4">
						<h5>Aggiungi commento:</h5>
						<form id="form_comments">
							<div class="form-group my-3">
								<textarea placeholder="Type your comment.." class="form-control"
									id="text" rows="3" required></textarea>
								<div class="text-danger">
									<ul id="text_err">

									</ul>
								</div>
							</div>
							<p class="btn myBtnForm myBtnFormSize" id="myBtnComment">Aggiungi</p>
						</form>
					</div>
				</div>
				<div class="d-none" id="boxHidden">
					<h5>
						<span class="fs-1"><i class="fa-regular fa-face-frown"></i></span>
						Al momento non è presente questa foto!
					</h5>
					<a class="btn myBtnForm my-5" href="/">Torna alla Home</a>
				</div>
			</div>
		</div>

	</main>


	<footer>
		<div id="footer"></div>
	</footer>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
		integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/script/show.js"></script>
</body>
</html>