body{
	background-color: rgb(254, 252, 243);
}
.body{
	background-color: rgb(254, 252, 243);
}

/* STYLE NAVBAR INDEX USER */
#nav{
	background-color: rgb(219, 163, 154);
	height: 5rem;
}

#nav #logo{
	font-size: 1.5rem;
}

/* STYLE FORM INDEX USER */
.style_form{
	margin-right: 3rem;
}

#value_photo{
	width: 13rem;
	border: 0px;
	border-bottom: 1px solid black;
	font-size: 13px;
	background-color: unset;
}

/* STYLE CARD INDEX USER */
.card_img{
	width: 100%;
	height: 25rem;
	position: relative;
}

#title_img{
	position: absolute;
    top: 5rem;
    z-index: 2;
    background-color: black;
    width: 100%;
    color: white;
    opacity: 0.7;
    text-align: center;
    padding: 1rem;
}

.img_card{
	object-fit: cover;
	opacity: 0.8;
}

.img_card:hover{
	opacity: 1;
	transform: scale(1.03);
	transition: 1s;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

#text{
	width: 50rem;
	border: 0px;
	border-bottom: 1px solid black;
	font-size: 1rem;
	background-color: unset;
}

#myBtn{
	border-radius: 0;
	border: 0px;
	background-color:  rgb(219, 163, 154);
	color: black;
	font-weight: 600;
	font-size: 0.8rem;
}

/* STYLE FOOTER INDEX USER */
#footer{
	height: 15rem;
	background-color: rgb(129, 91, 91);
}

/* STYLE FORM CREATE PHOTO */
.myBtnForm{
	padding: 8px 12px;
	border-radius: 0;
	border: 0px;
	background-color: rgb(219, 163, 154);
	color: black;
	font-weight: 600;
	font-size: 1.2rem;
}



